﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using VirtualLibrary.Models
@model VirtualLibrary.Models.ManageUserViewModel

       @{var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser> (new VirtualLibrary.Models.ApplicationDbContext()));
        ApplicationUser user = userManager.FindById(User.Identity.GetUserId()); }

        <p>Jesteś zalogowany jako <strong>@user.FirstName @user.LastName</strong>.</p>
        <hr />

        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
            @Html.AntiForgeryToken()
            <h4>Zmień hasło</h4>
            <hr />
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zmień hasło" class="btn btn-default" />
                </div>
            </div>
}
