﻿@using VirtualLibrary.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework
@using VirtualLibrary.Models
@{
    ViewBag.Title = "Manage Account";
}
@{var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new VirtualLibrary.Models.ApplicationDbContext()));
ApplicationUser user = userManager.FindById(User.Identity.GetUserId()); }
<h2>Twoje konto</h2>
<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
        </section>
    </div>
    <div class="col-md-12">
        
        <hr/>
        <h4>Dane użytkownika</h4>    
        <hr/>

        <dl class="dl-horizontal">
            <dt>
                <strong>Imię i nazwisko</strong>
            </dt>

            <dd>
                @user.FirstName @user.LastName
            </dd>

            <dt>
                <strong>Adres zamieszkania</strong>
            </dt>

            <dd>
                @user.Address @user.PostalCode
            </dd>

            <dt>
                <strong>E-Mail</strong>
            </dt>

            <dd>
                @user.Email
            </dd>
         </dl>
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
