﻿@model VirtualLibrary.Models.Book

@{
    ViewBag.Title = "CheckOut";
}

<h2>Wypożycz książkę:</h2>

<div>
    <hr />
    <h4>@Html.DisplayFor(model => model.Author) - @Html.DisplayFor(model => model.Title)</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Wypożycz (na 30 dni)" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć do katalogu", "Index")
</div>

