﻿@model VirtualLibrary.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Informacje o książce</h2>

<div>
    <hr />
    <h4>@Html.DisplayFor(model => model.Author) - @Html.DisplayFor(model => model.Title)</h4>

    <dl class="dl-horizontal">
        <dd>
            <img src="@Html.DisplayFor(model => model.ImageURL)" style="max-width: 300px; max-height: 300px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckingOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckingOutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
    </dl>
</div>
<p>
    @if(Roles.IsUserInRole("admin")) 
     { @Html.ActionLink("Edytuj |", "Edit", new { id = Model.BookID }) }
    
    @Html.ActionLink("Wróć do katalogu", "Index")
</p>
