﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using VirtualLibrary.Models

@model IEnumerable<VirtualLibrary.Models.Book>
@{
        var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new VirtualLibrary.Models.ApplicationDbContext()));
        ApplicationUser user = userManager.FindById(User.Identity.GetUserId());
}
@{
    ViewBag.Title = "Index";
}

<h2>Katalog</h2>

@using (Html.BeginForm())
{
    <p>
        Znajdź tytuł/autora: @Html.TextBox("SearchString")
    
        Wybierz gatunek: @Html.TextBox("GenreType")
        <input type="submit" value="Szukaj" />
    </p>
}

@if (User.IsInRole("admin"))
{
    <p>@Html.ActionLink("Dodaj nową pozycję", "Create")</p>
}
                                                           

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Autor", "Index", new { sortOrder = "Author" })
        </th>
        <th>
            @Html.ActionLink("Tytuł", "Index", new { sortOrder = "Title" })
        </th>
        <th>
            @Html.ActionLink("Gatunek", "Index", new {sortOrder = "Genre"})
        </th>
        <th>
            @Html.ActionLink("Rok", "Index", new { sortOrder = "Year" })
        </th>
        <th>
            @Html.ActionLink("Wydawnictwo", "Index", new {sortOrder = "Publisher"})
        </th>
        <th>
            @Html.ActionLink("Dostępna", "Index", new {sortOrder = "IsBorrowed"})
        </th>
        <th></th>
    </tr>

    @if (Roles.IsUserInRole("admin"))
    {
        foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
               
                 <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>

                 <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                
                <td>  
                    @Html.Raw((bool)(item.IsBorrowed) ? "<p><b><font color=\"red\">Nie</font></b></p>" : "<p><strong><font color=\"green\">Tak</font></strong></p>")
                </td>
                

                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id=item.BookID }) |
                    @Html.ActionLink("Szczegóły", "Details", new { id=item.BookID }) |
                    @Html.ActionLink("Wykasuj", "Delete", new { id=item.BookID }) 
                    @if ((bool)item.IsBorrowed) { @Html.ActionLink("| Zwróć", "Return", new { id = item.BookID }) }
                    @if ((bool)item.IsBorrowed) { @Html.ActionLink("| Informacje o wypożyczającym", "UserDetails", new { id = item.BookID }) }
                </td>
       
            </tr>
        }
    }
    else {
        foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.Raw((bool)(item.IsBorrowed) ? "<p><b><font color=\"red\">Nie</font></b></p>" : "<p><strong><font color=\"green\">Tak</font></strong></p>")
                </td>

                <td>
                    @Html.ActionLink("Szczegóły", "Details", new { id=item.BookID })

                        @if (!(bool)item.IsBorrowed) 
                        { 
                            @Html.ActionLink("Wypożycz", "Checkout", new { id = item.BookID }) 
                        }
                    
                </td>
            </tr>
    }
}

</table>
