﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using VirtualLibrary.Models

@model VirtualLibrary.Models.Book


@{
    ViewBag.Title = "UserDetails";
}

<h2>Informacje o wypożyczającym</h2>

@Html.AntiForgeryToken()
    @{
        var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new VirtualLibrary.Models.ApplicationDbContext()));
        ApplicationUser user = userManager.FindById(Model.UserID);

<dl class="dl-horizontal">
    <dt>
        Imię i nazwisko
    </dt>

    <dd>
        @Html.Raw(user.LastName + " " + user.FirstName)
    </dd>

    <dt>
        Adres
    </dt>

    <dd>
        @Html.Raw(user.Address + " " + user.PostalCode)
    </dd>

    <dt>
        Telefon kontaktowy
    </dt>

    <dd>
        @Html.Raw(user.PhoneNumber)
    </dd>
</dl>
    }