﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wirtualna Biblioteka</h1>
    <p class="lead">Witaj w Wirtualnej Bibliotece.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Możesz wypożyczyć książkę prosto z domu!</h2>
        <p>
            Aby móc przeglądać katalog musisz zalogować się. Jeśli jeszcze nie posiadasz konta - możesz je w każdej chwili założyć. Rejestracja zajmie nie więcej niż minutę.
        </p>
    </div>
</div>